.main-abilities{
    width: 70vw;
    height: auto;
    margin: 10vh auto;
    color: #8a8a8a;
}

.abilities {
    background-color: rgba(103, 99, 99, 0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.ability { 
    flex: 1;
    margin: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ability>img {
    border-radius: 50%;
    max-height: 3.5em;
    max-width: 3.5em;
}